* {
    margin: 0;
    padding: 0;
}


.up3img {

    font-weight: 400;
    font-size: 200%;
}

.spacingLetter {
    letter-spacing: 1vw;
    text-transform: uppercase;
}

.card-img{
    max-height: 18vh;
}

@media( max-width: 768px){
    .card{
        scale: 0.9;
    }

    .Ovalimg{
        margin-top: 5rem;
    }

    .card-img{
        max-height: 50vh;
    }
}
